<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
</head>
<body onload="init()">

<div class="content" id="initial_form" style="display: block">
    <h1>Sign in By URL</h1>
    <p>Please insert the ID of the Room you want to Join, if you do not have a room ID, click Generate Room</p>
    <form onsubmit="return false;">
        <p>
            <label for="name"> Your name </label>
            <input type="text" id="name" name="name" value="Lucas">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo"  value="A">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%">
            <label for="image_url"> Image (URL) </label>
            <input type="text" id="image_url" name="image_url" value="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/evolving_google_identity_2x1.jpg">
        </p>

        <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
</div>

<div id="initial_form2" style="display: block">
    <h1>Upload or Take a Picture</h1>
    <form action="/upload" method="POST">
        <p><label for="name"> Choose a file </label>
            <input type="file" id="myFile" name="myImage">
            <input type="submit" class="btn btn-warning" value="Upload Image">
        </p>
        <p>
            <label for="name"> For your image enter a: </label>
        </p>
        <p>
            <label for="name"> Name:  </label>
            <input type="text" id="uploadName" name="uploadName">
        </p>
        <p>
            <label for="name"> Title:  </label>
            <input type="text" id="uploadTitle" name="uploadTitle">
        </p>
        <p>
            <label for="name"> Description:  </label>
            <input type="text" id="uploadDesc" name="uploadDesc">
        </p>
    </form>
</div>


<div id="chat_interface" style="display: none">
    <div>
    <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <div style="width: 100%; height: 50vh">
            <img id="image" height="100%" >
            <canvas  id="canvas" ></canvas>
    </div>
<!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="news_send" onclick="sendChatText()">Send</button>
            </p>
        </form>
    </div>
</div>
<div class="offline_div" id="offline_div" style="display: none">You are offline</div>
</body>
</html>
